@function vw($px){
    @return($px/375)*100vw;
}
@function vh($px){
    @return($px/667)*100vh;
}

.reg{
    height: vh(667);
    background: #fff;
    position: relative;
    z-index: 99;
}
.lo-tou{
    width: vw(375);
    height: vh(44);
    // background: skyblue;
    border-bottom: 1px rgb(238, 238, 238) solid;
}
.jt{
    width: vw(50);
    height: vh(44);
    float: left;
    line-height: vh(44);
    text-align: center;
    font-size: 20px;
}
.jt2{
    width: vw(50);
    height: vh(44);
    float: right;
    line-height: vh(44);
    text-align: center;
    font-size: 30px;
}
.lo-tou p{
    line-height: vh(44);
    font-size: 17px;
}
.lo-tou .jit-p{
    height: vh(44);
    width: vw(100);
    float: left;
    margin: 0 0 0 vw(100);
}

.zhmm{
    width: vw(200);
    height: vh(25);
    margin-left: vw(85);
    margin-top: vh(20);
    margin-bottom: vh(20);
    text-align: center;
    font-weight: 600;
    
}
.zhts{
    width: vw(50);
    height: vh(32);
    float: left;
    line-height: vh(32);
    text-align: center;
}
.mmts{
    width: vw(50);
    height: vh(32);
    float: left;
    line-height: vh(32);
    text-align: center;
}
.zhk{
    width: vw(310);
}
.mmk{
    width: vw(310);
}
.ant-btn-primary{
    width: vw(335.2);
    margin-left: vw(20);
}
.xzc{
    width: vw(90);
    float: left;
    margin-left: vw(20);
}

.fk{
    margin-top: vh(30);
}