* {
  margin: 0;
  padding: 0;
}

.shopp {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.shopp .header {
  width: 100%;
  height: 7.7961vh;
  line-height: 7.7961vh;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 9;
}

.shopp .header .title {
  display: inline-block;
  padding-left: 45.33333vw;
  line-height: 8vh;
  font-size: 18px;
  position: relative;
  font-weight: normal;
}

.shopp .header .control {
  line-height: 8vh;
  width: 20vw;
  height: 8vh;
  float: right;
}

.shopp .header .control a {
  display: inline-block;
  line-height: 12px;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.shopp .header i {
  display: inline-block;
  margin-left: 3vw;
  text-decoration: none;
  color: #000;
}

.shopp .cart {
  width: 100%;
  height: 116.94153vh;
  text-align: center;
  margin-top: 15.46667vw;
}

.shopp .cart .tips {
  width: 90%;
  height: 6vh;
  line-height: 6vh;
  background: #fff0d5;
  border-radius: 20px;
  margin: 1.49925vh 5.33333vw;
  padding: 0 10px 0px;
}

.shopp .cart .tips span:first-child {
  display: inline-block;
  font-size: 10px;
  color: orange;
}

.shopp .cart .tips a {
  display: inline-block;
  margin-left: 90px;
  font-size: 10px;
  width: 10vw;
  height: 3vh;
  line-height: 3vh;
  background: orange;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.shopp .cart .itemlist {
  width: 92.53333vw;
  margin: auto;
  line-height: 17.991vh;
  text-align: center;
}

.shopp .cart .itemlist .has {
  width: 92.53333vw;
  height: 18.29085vh;
  line-height: 18.29085vh;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  position: relative;
}

.shopp .cart .itemlist .has input {
  float: left;
  position: relative;
  left: 0;
  top: 8.3958vh;
  margin: 0 2.66667vw;
}

.shopp .cart .itemlist .has .pc {
  width: 24vw;
  height: 13.49325vh;
  float: left;
}

.shopp .cart .itemlist .has .pc img {
  width: 100%;
  height: 100%;
}

.shopp .cart .itemlist .has .msg {
  width: 51.46667vw;
  height: 16.04198vh;
  line-height: 4.49775vh;
  margin-top: 1.1994vh;
  float: right;
  position: relative;
}

.shopp .cart .itemlist .has .msg p {
  font-weight: 500;
  line-height: 12px;
  font-size: 12px;
  margin: 5.33333vw 5.33333vw 0 0;
}

.shopp .cart .itemlist .has .msg h4 {
  text-align: center;
  width: 13.33333vw;
  height: 4.49775vh;
  position: absolute;
  bottom: 0;
}

.shopp .cart .itemlist .has .msg .num {
  display: inline-block;
  width: 18.66667vw;
  height: 4.49775vh;
  position: absolute;
  right: 2.66667vw;
  bottom: 1.49925vh;
}

.shopp .cart .itemlist .has .msg .num a {
  width: 2.66667vw;
  height: 1.49925vh;
  background: aqua;
  display: inline-block;
}

.shopp .cart .itemlist .has .msg .num span {
  display: inline-block;
  margin: 0 1.33333vw;
}

.shopp .cart .itemlist .has .msg .num b {
  width: 2.66667vw;
  height: 1.49925vh;
  background: #ccc;
}

.shopp .cart .itemlist .not {
  width: 92.53333vw;
  height: 17.991vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  position: relative;
}

.shopp .cart .itemlist .not span {
  display: block;
  width: 100%;
  height: 5.997vh;
  line-height: 5.997vh;
}

.shopp .cart .itemlist .not p {
  font-size: 10px;
  color: #ccc;
  width: 100%;
  height: 2.9985vh;
  line-height: 4.49775vh;
}

.shopp .cart .itemlist .not a {
  display: block;
  width: 18.66667vw;
  height: 5.997vh;
  line-height: 5.997vh;
  text-align: center;
  margin: auto;
  color: black;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.shopp .cart .pic {
  width: 100%;
  height: 5.997vh;
  line-height: 5.997vh;
}

.shopp .cart .pic img {
  width: 100%;
  height: 5.997vh;
}

.shopp .cart .goodslist {
  width: 100%;
  height: 100%;
}

.shopp .cart .goodslist ul li {
  width: 42.66667vw;
  height: 34.03298vh;
  text-align: center;
  margin: 2.66667vw 0 0 4.8vw;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  float: left;
}

.shopp .cart .goodslist ul li .items {
  width: 10.66667vw;
  height: 2.9985vh;
}

.shopp .cart .goodslist ul li .items img {
  width: 40vw;
  height: 40vw;
}

.shopp .cart .goodslist ul li .items p {
  width: 40vw;
  height: 4.94753vh;
  font-size: 14px;
}

.shopp .cart .goodslist ul li .items .price {
  width: 40vw;
  height: 2.69865vh;
  line-height: 2.69865vh;
}

.shopp .cart .goodslist ul li .items .price span {
  float: left;
}

.shopp .cart .goodslist ul li .items .price i {
  float: right;
}

.shopp .total {
  width: 100%;
  height: 7.49625vh;
  line-height: 7.49625vh;
  position: fixed;
  bottom: 8.9955vh;
}

.shopp .total .computed {
  width: 100%;
  height: 5.997vh;
  line-height: 5.997vh;
  background: #fff;
  margin: 7px 0;
}

.shopp .total .computed p {
  text-align: right;
}

.shopp .total .computed p span {
  color: red;
}

.shopp .total .computed p a {
  display: inline-block;
  width: 24vw;
  height: 5.997vh;
  text-align: center;
  font-size: 14px;
  color: #000;
  margin: 0 5.33333vw;
  background: #F9B548;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 rgba(242, 28, 28, 0.2);
}

.shopp .total .delete {
  width: 100%;
  height: 5.997vh;
  line-height: 5.997vh;
  background: #fff;
  margin: 7px 0;
}

.shopp .total .delete .con {
  width: 13.33333vw;
  height: 5.997vh;
  line-height: 5.997vh;
  float: left;
  position: relative;
}

.shopp .total .delete .con input {
  position: relative;
  top: 0.26667vw;
  margin: 0 1.06667vw;
}

.shopp .total .delete .con label {
  line-height: 5.997vh;
}

.shopp .total .delete span {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin-left: 37.33333vw;
  color: #9c9c9c;
}

.shopp .total .delete a {
  display: block;
  float: right;
  width: 24vw;
  height: 5.997vh;
  text-align: center;
  font-size: 14px;
  color: #000;
  margin-right: 2.66667vw;
  background: orange;
  border-radius: 20px;
}
