@function vw($px) {
    @return($px/375)*100vw;
}

@function vh($px) {
    @return($px/667)*100vh;
}

* {
    margin: 0;
    padding: 0;
}

.shopp {
    width: 100%;
    height: 100%;
    overflow: auto;

    .header {
        width: 100%;
        height: vh(52);
        line-height: vh(52);
        background: #fff;
        position: fixed;
        top: 0;
        z-index: 9;

        .title {
            display: inline-block;
            padding-left: vw(170);
            line-height: 8vh;
            font-size: 18px;
            position: relative;
            font-weight: normal;
        }

        .control {
            line-height: 8vh;
            width: 20vw;
            height: 8vh;
            float: right;

            a {
                display: inline-block;
                line-height: 12px;
                font-size: 12px;
                color: black;
                text-decoration: none;
            }
        }



        i {
            display: inline-block;
            margin-left: 3vw;
            text-decoration: none;
            color: #000;
        }

    }

    .cart {
        width: 100%;
        height: vh(780);
        text-align: center;
        margin-top: vw(58);

        .tips {
            width: 90%;
            height: 6vh;
            line-height: 6vh;
            background: rgb(255, 240, 213);
            border-radius: 20px;
            margin: vh(10) vw(20);
            padding: 0 10px 0px;

            span:first-child {
                display: inline-block;
                font-size: 10px;
                color: orange;
            }

            a {
                display: inline-block;
                margin-left: 90px;
                font-size: 10px;
                width: 10vw;
                height: 3vh;
                line-height: 3vh;
                background: orange;
                color: #fff;
                text-align: center;
                border-radius: 10px;
            }
        }

        .itemlist {
            width: vw(347);
            margin: auto;
            line-height: vh(120);
            text-align: center;

            .has {
                width: vw(347);
                height: vh(122);
                line-height: vh(122);
                margin-bottom: 5px;
                border: 1px solid #ccc;
                border-radius: 10px;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .08);
                position: relative;

                input {
                    float: left;
                    position: relative;
                    left: 0;
                    top: vh(56);
                    margin: 0 vw(10);

                }

                .pc {
                    width: vw(90);
                    height: vh(90);
                    float: left;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }

                .msg {
                    width: vw(193);
                    height: vh(107);
                    line-height: vh(30);
                    margin-top: vh(8);
                    float: right;
                    position: relative;

                    p {
                        font-weight: 500;
                        line-height: 12px;
                        font-size: 12px;
                        margin: vw(20) vw(20) 0 0;
                    }

                    h4 {
                        text-align: center;
                        width: vw(50);
                        height: vh(30);
                        position: absolute;
                        bottom: 0;
                    }

                    .num {
                        display: inline-block;
                        width: vw(70);
                        height: vh(30);
                        position: absolute;
                        right: vw(10);
                        bottom: vh(10);

                        a {
                            width: vw(10);
                            height: vh(10);
                            background: aqua;
                            display: inline-block;

                        }

                        span {
                            display: inline-block;
                            margin: 0 vw(5);
                            // border: 1px solid red;
                            // background: red;
                        }

                        b {
                            width: vw(10);
                            height: vh(10);
                            background: #ccc;
                        }
                    }

                }
            }

            .not {
                width: vw(347);
                height: vh(120);
                border: 1px solid #ccc;
                border-radius: 10px;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .08);
                position: relative;

                span {
                    display: block;
                    width: 100%;
                    height: vh(40);
                    line-height: vh(40);
                }

                p {
                    font-size: 10px;
                    color: #ccc;
                    width: 100%;
                    height: vh(20);
                    line-height: vh(30);
                }

                a {
                    display: block;
                    width: vw(70);
                    height: vh(40);
                    line-height: vh(40);
                    text-align: center;
                    margin: auto;
                    color: black;
                    border: 1px solid #ccc;
                    border-radius: 20px;
                }
            }
        }

        .pic {
            width: 100%;
            height: vh(40);
            line-height: vh(40);

            img {
                width: 100%;
                height: vh(40);
            }
        }

        .goodslist {
            width: 100%;
            height: 100%;

            ul {

                li {
                    width: vw(160);
                    height: vh(227);
                    text-align: center;
                    margin: vw(10) 0 0 vw(18);
                    border: 1px solid #ccc;
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
                    float: left;

                    .items {
                        width: vw(40);
                        height: vh(20);
                        // padding-left: vw(9);

                        img {
                            width: vw(150);
                            height: vw(150);
                        }

                        p {
                            width: vw(150);
                            height: vh(33);
                            font-size: 14px;
                        }

                        .price {
                            width: vw(150);
                            height: vh(18);
                            line-height: vh(18);

                            // margin-top: vw(10);
                            span {
                                float: left;
                            }

                            i {
                                float: right;
                            }
                        }

                    }

                }
            }

        }

    }

    .total {
        width: 100%;
        height: vh(50);
        line-height: vh(50);
        position: fixed;
        bottom: vh(60);
        
        .computed{
            width: 100%;
            height: vh(40);
            line-height: vh(40);
            background: #fff;
            margin: 7px 0;
            p{
                text-align: right;
                span{
                    color: red;
                }
                a{
                    display: inline-block;
                    width: vw(90);
                    height: vh(40);
                    text-align: center;
                    font-size: 14px;
                    color: #000;
                    margin: 0 vw(20);
                    background: #F9B548;
                    border-radius:20px;
                    box-shadow: 0 2px 10px 0 rgba(242,28,28,.2);
                }
            }
        }

        .delete {
            width: 100%;
            height: vh(40);
            line-height: vh(40);
            background: #fff;
            margin: 7px 0;

            .con {
                width: vw(50);
                height: vh(40);
                line-height: vh(40);
                float: left;
                position: relative;
                input{
                    position: relative;
                    top: vw(1);
                    margin: 0 vw(4);
                }
                label{
                    line-height: vh(40);
                }
            }

            span {
                display: inline-block;
                text-align: center;
                font-size: 14px;
                margin-left: vw(140);
                color: #9c9c9c;
                }
                a {
                    display: block;
                    float: right;
                    width: vw(90);
                    height: vh(40);
                    text-align: center;
                    font-size: 14px;
                    color: #000;
                    margin-right: vw(10);
                    background: orange;
                    border-radius: 20px;
                }
        }
    }

}